{% extends 'public/_base.html.twig' %}
{% block public_main %}
    <main class="mx-auto max-w-md p-6 text-center">
        <h1 class="text-xl font-semibold">Almost there</h1>
        <p class="mt-2">If your email isn't already signed up, check your inbox to confirm your subscription.</p>
    </main>
{% endblock %}
