{% extends 'public/_base.html.twig' %}
{% block public_main %}
    <main class="mx-auto max-w-md p-6 text-center">
        <h1 class="text-xl font-semibold">You're confirmed</h1>
        <p class="mt-2">We'll email you once the photos are live.</p>
    </main>
{% endblock %}
