{% extends 'public/_base.html.twig' %}
{% block public_main %}
    <main class="mx-auto max-w-md p-6 text-center">
        <h1 class="text-xl font-semibold">You've been unsubscribed</h1>
        <p class="mt-2">You won't receive further emails for this event.</p>
    </main>
{% endblock %}
