<p>Hi {{ user.displayName }},</p>

<p>You (or someone on your behalf) requested a password reset for your eventFotos account.</p>

<p>
    To set a new password, follow this link within {{ (resetToken.expirationMessageKey is defined ? resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') : '60 minutes') }}:
</p>

<p>
    <a href="{{ url('app_reset_password', { token: resetToken.token }) }}">Reset my password</a>
</p>

<p>If you didn't request this, you can ignore this email — your password won't change.</p>

<p>— eventFotos</p>
