{% extends 'admin/_base.html.twig' %}

{% block title %}Set a new password{% endblock %}

{% block admin_shell %}
    <div class="flex min-h-screen items-center justify-center bg-base-200 px-4">
        <div class="card w-full max-w-sm bg-base-100 shadow-md">
            <div class="card-body gap-4">
                <h1 class="card-title justify-center text-xl">Set a new password</h1>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword.first) }}
                    {{ form_row(resetForm.plainPassword.second) }}
                    <button type="submit" class="btn btn-primary w-full">Update password</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </div>
{% endblock %}
