{% extends 'email/_layout.html.twig' %}

{% block cta_url %}{{ eventUrl }}{% endblock %}
{% block cta_label %}View the photos{% endblock %}
{% block subject %}Photos from {{ eventName }} are live{% endblock %}
{% block heading %}Photos from {{ eventName }} are live{% endblock %}
{% block content %}
    <p style="margin:0 0 12px 0; font-size:16px; line-height:1.5;">Hi,</p>
    <p style="margin:0; font-size:16px; line-height:1.5;">The photos from <strong>{{ eventName }}</strong> are now available.</p>
{% endblock %}
