{% extends 'base.html.twig' %}

{% block title %}Event Photos{% endblock %}

{% block body %}
    <main class="home">
        <h1>Event Photos</h1>
        <p>Scan a QR code at an event to view your photos.</p>
    </main>
{% endblock %}
