{% extends 'public/_base.html.twig' %}

{% block title %}Event Photos{% endblock %}

{% block public_main %}
    <section class="prose max-w-none">
        <h1>Event Photos</h1>
        <p>Scan a QR code at an event to view your photos.</p>
    </section>
{% endblock %}
